<p style="height:200px;">
	<img ng-src="images/{{mySelectedWeatherData.weather[0].icon}}.png"><br/>
	<b>{{mySelectedWeatherData.weather[0].main}}</b><br/>
	<i class="fa fa-info-circle" aria-hidden="true"></i> {{mySelectedWeatherData.weather[0].description}}<br/>
	<i class="fa fa-clock-o" aria-hidden="true"></i> {{mySelectedWeatherData.dt_txt}}<br/>
	<i class="fa fa-thermometer-half" aria-hidden="true"></i> {{mySelectedWeatherData.main.temp}}<br/>
	<i class="fa fa-superpowers" aria-hidden="true"></i> {{mySelectedWeatherData.wind.speed}}<br/>
</p>