<div  ng-controller="mainController" class="jumbotron text-center">
	<h1>Weather Forecast</h1>
	<hr>
	{{data.selectedCity}}
  	<form name="myForm">
		<label for="selectedCity"> Select an EU City: </label>
		<select name="selectedCity" ng-model="data.selectedCity" ng-change="getWeatherForecast()">
			<option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
		</select>
		<!--<tt>singleSelect = {{data.singleSelect}}</tt>-->
	</form>

	<!--Size: {{globalWeatherData.list.length}}-->
	<!--
	<div style="height:100px;width:400px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
		<p ng-repeat="weatherItemList in globalWeatherData.list">
			Time: {{weatherItemList.dt_txt}}<br>
			Weather: {{weatherItemList.weather[0].main}} - {{weatherItemList.weather[0].description}}<br>
			Temperature: {{weatherItemList.main.temp}}<br>
			Wind Speed: {{weatherItemList.wind.speed}}<br>
		</p>
	</div>
	-->
		
	<div ng-show="showDetails" class="w3-content w3-display-container">
		<!-- CUSTOM DIRECTIVE -->
		<div selected-forecast-set info="globalWeatherData.list[selectedTimeRangeIndex]"></div>
		<button ng-click="changeForecastSet(selectedTimeRangeIndex+1,globalWeatherData.list.length)" class="w3-button w3-black w3-display-left">&#10094;</button>
		<button ng-click="changeForecastSet(selectedTimeRangeIndex-1,globalWeatherData.list.length)" class="w3-button w3-black w3-display-right">&#10095;</button>
	</div>

</div>


</div>